%li{:class => klass}
  %a.thumbnail{:href => "#"}
    %img{:src => "http://placehold.it/360x268"}
    .caption
      %h3= post_title
      %p= first_paragraph
      %p
        %a.btn{:href => link_url} Read
