.span-4
  %ul
    %li
      %a{:href=>"/"} Home
    %li
      %a{:href => "#{link_root}page01.html"} Page 01
    %li
      %a{:href => "#{link_root}page02.html"} Page 02
    %li
      %a{:href => "#{link_root}page03.html"} Page 03
.span-4
  %ul
    %li Page 04
    %li Page 05
    %li Page 06
%hr
%p Built with wren, by William Martin.
%p All material copyright &copy;2009-2011 unless otherwise stated.
