%head
  %title= page_title
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

  <link rel="stylesheet" href="#{link_root}stylesheets/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="#{link_root}stylesheets/print.css" type="text/css" media="print" />
  /[if lt IE 8]
    <link rel="stylesheet" href="#{link_root}stylesheets/ie.css" type="text/css" media="screen, projection" />