.menu
  %ul
    %li
      %a{:href => "#{link_root}/index.html"} Home
    %li
      %a{:href => "#{link_root}/page01.html"} Page 01
    %li
      %a{:href => "#{link_root}/page02.html"} Page 02
.breadcrumb
  = breadcrumb
.buttons
