%h1 My New Site

Wren is a website generator and publisher that starts with a text-based file system (txt, textile, haml, sass) and publishes it in HTML and CSS on an FTP server, file system, or S3. 

The idea is to build a library of text-based content that you can remix and publish in various forms (regular HTML, as a slideshow, in a PDF, etc.) but without having to install resource-intensive publishing systems like Wordpress or Rails.

