%div{:class => klass}
  %a{:href => post.link_url}= post.post_title
  %span(class="location")= post.in_blog? ? post.blog_folder.link_to_self(:class => 'aside') : ""
  %span(class="date")= format_date(post.post_date)
